{% for cost in costs %}
 <div class="card">
  <div class="card-body">
    {{ cost }} <a href="{{ url_for('users.info', username=cost.author.username) }}">{{ cost.author.username }}</a>
      {% if cost.author.id == current_user.id %}
      <a href="{{ url_for('costs.update',costs_id = cost.id) }}">Update</a>
      {% endif %}
  </div>
</div>
    {% endfor %}
<a class="btn btn-success" href="{{ url_for('costs.cost_handler', group_id=group_id)}}" role="button">Calculate</a>
<a class="btn btn-success" href="{{ url_for('costs.final', group_id=group_id)}}" role="button">View table</a>