<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>ХШ58Б</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class='nav'>
    <li >
    <a class="navbar-brand" href="{{url_for('core.index')}}">ХШ58Б</a>
    </li>
    {% if current_user.is_authenticated %}

    <div class="d-flex">
  <div class="dropdown mr-1">
    <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
      Cost
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
      <a class="dropdown-item" href="{{url_for('costs.create')}}">Create</a>
      <a class="dropdown-item" href="{{url_for('costs.all')}}">Calculate</a>
    </div>
  </div>
  </div>


        <div class="d-flex">
  <div class="dropdown mr-1">
    <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
     Need
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
      <a class="dropdown-item" href="{{url_for('needs.create')}}">Create</a>
      <a class="dropdown-item" href="{{url_for('needs.view_all')}}">View all</a>
    </div>
  </div>
        </div>



    <div class="d-flex">
  <div class="dropdown mr-1">
    <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
     Groups
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
      <a class="dropdown-item" href="{{url_for('groups.create')}}">Create</a>
      <a class="dropdown-item" href="{{ url_for('groups.view_all')}}">View all</a>
      <a class="dropdown-item" href="{{url_for('groups.create_cost_group')}}">Management</a>
    </div>
  </div>
        </div>

        <li class='nav-link ' id="login_out">
    <a  href="{{url_for('users.logout')}}">LOGOUT</a>
     </li>
        <li class='nav-link' id="login_out">
    <a  href="{{url_for('users.account')}}">ACCOUNT</a>
        </li>
        {%if current_user.is_administarator %}
         <li class='nav-link' id="login_out">
    <a  href="{{url_for('users.admin_panel')}}">Admin Panel</a>
        </li>
        {% endif %}
    {% else %}
        <li class='nav-link' id="login_out">
    <a  href="{{url_for('users.login')}}">LOG IN</a>
        </li>
        <li class='nav-link' id="login_out">
    <a  href="{{url_for('users.register')}}">REGISTER</a>
        </li>
    {% endif %}
    </ul>
</nav>

{% block content %}

{% endblock %}
</body>
</html>