<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>ХШ58Б</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class='nav'>
    <li >
    <a class="navbar-brand" href="{{url_for('core.index')}}">ХШ58Б</a>
    </li>
    <li class="nav-item">
    <a class="nav-item nav-link active" href="{{url_for('core.info')}}">INFO</a>
    </li>
    {% if current_user.is_authenticated %}
     <li class='nav-link'>
    <a  href="{{url_for('users.logout')}}">LOGOUT</a>
     </li>
        <li class='nav-link'>
    <a  href="{{url_for('users.account')}}">ACCOUNT</a>
        </li>
        <li class='nav-link'>
    <a  href="{{url_for('costs.create')}}">CREATE COST</a>
        </li>
        <li class='nav-link'>
    <a  href="{{url_for('costs.all')}}">ALL COSTS</a>
        </li>
        <li class='nav-link'>
    <a  href="{{url_for('needs.create')}}">CREATE NEED</a>
        </li>
        <li class='nav-link'>
    <a  href="{{url_for('groups.create_group')}}">CREATE GROUP</a>
        </li>
          <li class='nav-link'>
    <a  href="{{url_for('groups.create_cost_group')}}">CREATE COST GROUP</a>
        </li>
    {% else %}
        <li class='nav-link'>
    <a  href="{{url_for('users.login')}}">LOG IN</a>
        </li>
        <li class='nav-link'>
    <a  href="{{url_for('users.register')}}">REGISTER</a>
        </li>
    {% endif %}
    </ul>
</nav>

{% block content %}

{% endblock %}
</body>
</html>