{% extends "base.html" %}
{% block content %}

    {% for g in groups %}
        {% for c in costs %}
            {% if c.group_id == g.group_id %}
                <div class="card">
                    <div class="card-body">
                        {{ c }}
                        {% if c.who_spent == current_user.id %}
                        <a class="btn btn-primary" href="{{ url_for('costs.update', updated_cost_id=c.id ) }}" role="button">Update</a>
                        <a class="btn btn-danger" href="{{url_for('costs.delete', deleted_cost_id=c.id)}}" role="button">Delete</a>
                         {% endif %}
                  </div>
            </div>
            {% endif %}
            {% endfor %}
      {% endfor %}

{% endblock %}